# Godot 4+ ignores

# Import cache (folder)
*.import/

# Temporary
*.tmp/
.editor_data/

# Export
export/
export_presets.cfg

# Translation files Godot regenerates
*.scn.translation

# Godot internal project file
*.godot/
